[Unit]
Description=back-end login server file
Requires=network-online.target
Requires=mysql.service
Requires=rabbitmq-server.service
After=network-online.target
After=network.target
After=rabbitmq-server.service

[Service]
ExecStart=/usr/bin/php /home/ubuntu/git/IT-490-SysIntegration/rabbitPHP/back-end/RabbitMQServer.php

[Install]
WantedBy=multi-user.target
